<c-row>
  <c-col>
    <c-card>
      <c-card-body>
        <c-nav variant="pills">
          <c-nav-item>
            <a
              [active]="true"
              [cTabContent]="tabContent"
              [routerLink]
              [tabPaneIdx]="0"
              cNavLink
            >
              In-Situ Inspection
            </a>
            <a
              [cTabContent]="tabContent"
              [routerLink]
              [tabPaneIdx]="1"
              cNavLink
            >
              Predictive Maintenance
            </a>
          </c-nav-item>
        </c-nav>
        <c-tab-content #tabContent="cTabContent">
          <c-tab-pane>
            <c-row>
              <c-col>
                <c-nav variant="tabs">
                  <a
                    [active]="true"
                    [cTabContent]="printerTabs"
                    [routerLink]
                    [tabPaneIdx]="0"
                    cNavLink
                    >Printer 1</a
                  >
                  <a
                    [cTabContent]="printerTabs"
                    [routerLink]
                    [tabPaneIdx]="1"
                    cNavLink
                    >Printer 2</a
                  >
                  <a
                    [cTabContent]="printerTabs"
                    [routerLink]
                    [tabPaneIdx]="2"
                    cNavLink
                    >Sensor Information
                  </a>
                </c-nav>
                <c-tab-content #printerTabs="cTabContent">
                  <c-tab-pane class="p-3">
                    <c-row>
                      <c-col>
                        <c-row [gutter]="{ gx: 4, gy: 4 }">
                          <c-col [md]="4">
                            <c-card>
                              <c-card-body>
                                <plotly-plot
                                  [data]="printActivity"
                                  [layout]="printActivitylayout"
                                  [useResizeHandler]="true"
                                  [updateOnLayoutChange]="true"
                                  [style]="{
                                    width: '300px',
                                    height: '300px'
                                  }"
                                ></plotly-plot>
                              </c-card-body>
                            </c-card>
                          </c-col>

                          <c-col [md]="8">
                            <c-card>
                              <c-card-body>
                                <c-card>
                                  <c-card-body>
                                    <!-- Implement form group here  -->
                                    <form>
                                      <c-form-check [inline]="true">
                                        <input
                                          cFormCheckInput
                                          id="checkThree"
                                          type="checkbox"
                                        />
                                        <label cFormCheckLabel for="checkThree"
                                          >Parameters 1</label
                                        >
                                      </c-form-check>
                                      <c-form-check inline="true">
                                        <input
                                          cFormCheckInput
                                          id="checkFour"
                                          type="checkbox"
                                        />
                                        <label cFormCheckLabel for="checkFour"
                                          >Parameters 2</label
                                        >
                                      </c-form-check>
                                      <c-form-check inline="true">
                                        <input
                                          cFormCheckInput
                                          id="checkFive"
                                          type="checkbox"
                                        />
                                        <label cFormCheckLabel for="checkFour"
                                          >Parameters 3</label
                                        >
                                      </c-form-check>
                                    </form>
                                  </c-card-body>
                                </c-card>

                                <app-filterale-table></app-filterale-table>
                              </c-card-body>
                            </c-card>
                          </c-col>
                        </c-row>

                        <c-row [gutter]="{ gx: 4, gy: 4 }">
                          <c-col>
                            <c-card>
                              <c-card-body>
                                <c-col>
                                  <c-card>
                                    <c-card-body>
                                      <!-- Implement form group here  -->
                                      <form>
                                        <c-form-check [inline]="true">
                                          <input
                                            cFormCheckInput
                                            id="checkThree"
                                            type="checkbox"
                                          />
                                          <label
                                            cFormCheckLabel
                                            for="checkThree"
                                            >Parameters 1</label
                                          >
                                        </c-form-check>
                                        <c-form-check inline="true">
                                          <input
                                            cFormCheckInput
                                            id="checkFour"
                                            type="checkbox"
                                          />
                                          <label cFormCheckLabel for="checkFour"
                                            >Parameters 2</label
                                          >
                                        </c-form-check>
                                        <c-form-check inline="true">
                                          <input
                                            cFormCheckInput
                                            id="checkFive"
                                            type="checkbox"
                                          />
                                          <label cFormCheckLabel for="checkFour"
                                            >Parameters 3</label
                                          >
                                        </c-form-check>
                                      </form>
                                    </c-card-body>
                                  </c-card>
                                </c-col>

                                <c-col [md]="5">
                                  <c-card>
                                    <c-card-body>
                                      <plotly-plot
                                        [data]="bubbleChartRef.data"
                                        [layout]="bubbleChartRef.layout"
                                        [useResizeHandler]="true"
                                        [style]="{
                                          position: 'relative',
                                          width: '100%',
                                          height: '100%'
                                        }"
                                      ></plotly-plot>
                                    </c-card-body>
                                  </c-card>
                                </c-col>

                                <c-col [md]="6">
                                  <c-card>
                                    <c-card-body>
                                      <plotly-plot
                                        [data]="data"
                                        [layout]="lineLayout"
                                        [useResizeHandler]="true"
                                        [style]="{
                                          position: 'relative',
                                          width: '100%',
                                          height: '100%'
                                        }"
                                      ></plotly-plot>
                                    </c-card-body>
                                  </c-card>
                                </c-col>
                              </c-card-body>
                            </c-card>
                          </c-col>
                        </c-row>
                      </c-col>
                    </c-row>
                  </c-tab-pane>
                  <c-tab-pane class="p-3"> Printer 2 </c-tab-pane>
                  <c-tab-pane class="p-3"> Printer 3 </c-tab-pane>
                </c-tab-content>
              </c-col>
            </c-row>
          </c-tab-pane>
          <c-tab-pane>
            <data-chart> </data-chart>
            <app-warning-alert></app-warning-alert>
          </c-tab-pane>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
