<ng-container
  *ngIf="graphView; then anotherContent; else noContent"
></ng-container>

<ng-container *ngIf="itemList.length > 0; then someContent"></ng-container>

<ng-template #noContent>
  <c-row class="justify-content-center align-content-center">
    <c-col xs="4" md="4">
      <c-card>
        <c-row class="g-0">
          <c-card-body cCol [md]="8">
            <h5 cCardTitle>Getting Started</h5>
            <p cCardText>Some text content here</p>
            <button
              variant="outline"
              color="primary"
              title="start"
              cButton
              (click)="showGraphView()"
            >
              Start
              <svg [cIcon]="iconsList.cilArrowRight" size="xs"></svg>
            </button>
          </c-card-body>

          <c-col [md]="4">
            <img
              cImg
              height="200"
              rounded
              title="dashboaord"
              src="../../assets/img/avatars/dashboaord.svg"
              width="200px"
            />
          </c-col>
        </c-row>
      </c-card>
    </c-col>
  </c-row>
</ng-template>

<ng-template #someContent>
  <c-row>
    <c-col xs="8">
      <c-card>
        <c-card-body>
          <c-row>
            <c-col *ngFor="let graph of itemList" class="md-6" lg="6">
              <c-card>
                <c-card-header>{{ graph.layout.graphTitle }} </c-card-header>
                <h1>{{ graph.config }}</h1>
                <c-card-body>
                  <plotly-plot
                    [data]="graph.data"
                    [config]="{ editable: true }"
                    [layout]="graph.layout"
                    [useResizeHandler]="true"
                    [style]="{
                      position: 'relative',
                      width: '100%',
                      height: '100%'
                    }"
                  ></plotly-plot>
                </c-card-body>
              </c-card>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col>
      <c-card class="sticky" [ngStyle]="{ top: stickyPosition }">
        <c-card-body>
          <c-form-check *ngFor="let head of header" [switch]="true">
            <input
              [disabled]="!fb"
              title="option1"
              cFormCheckInput
              type="checkbox"
              (click)="setValue(head)"
            />
            <label cFormCheckLabel>{{ head }}</label>
          </c-form-check>

          <!-- <c-form-check [switch]="true">
            <input
              title="option2"
              cFormCheckInput
              type="checkbox"
              (click)="setValue('option2')" />
            <label cFormCheckLabel>Option 2</label>
          </c-form-check>

          <c-form-check [switch]="true">
            <input
              title="option3"
              cFormCheckInput
              type="checkbox"
              (click)="setValue('option3')" />
            <label cFormCheckLabel>Option 3</label>
          </c-form-check>

          <c-form-check [switch]="true">
            <input
              title="option4"
              cFormCheckInput
              (click)="setValue('option4')"
              type="checkbox" />
            <label cFormCheckLabel>Option 4</label>
          </c-form-check> -->
        </c-card-body>
      </c-card>
    </c-col>

    <!-- Pie Chart Options (Should be dynamic based on what pie chart is selected) -->

    <c-row [gutter]="{ gy: 2 }">
      <c-col>
        <c-card>
          <c-card-body>
            <data-table
              [data]="header"
              [headerObjects]="headerObject"
              [tableData]="excelData"
            ></data-table>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-row>
</ng-template>

<!-- Search bar -->
<ng-template #anotherContent>
  <c-card-group>
    <c-card class="mb-4">
      <c-card-body class="d-flex justify-content-between">
        <c-nav class="justify-content-end">
          <c-nav-item>
            <c-button-group aria-label="Basic toggle button group" role="group">
              <c-dropdown placement="bottom-start" variant="btn-group">
                <button
                  class="btn btn-transparent"
                  cButton
                  cDropdownToggle
                  split
                >
                  Chart View
                </button>
                <ul cDropdownMenu (click)="changeView($event)">
                  <li>
                    <button [routerLink]="[]" cDropdownItem>Preventive</button>
                  </li>
                  <li>
                    <button cDropdownItem>Predictive</button>
                  </li>
                  <li>
                    <button cDropdownItem>Both</button>
                  </li>
                </ul>
              </c-dropdown>
              <c-dropdown placement="bottom-start" variant="btn-group">
                <button class="btn btn-transparent" cButton cDropdownToggle>
                  Chart Types
                </button>
                <ul cDropdownMenu (click)="addGraph($event)">
                  <li *ngFor="let chartType of chartTypes">
                    <button cDropdownItem>
                      {{ chartType }}
                    </button>
                  </li>
                </ul>
              </c-dropdown>
            </c-button-group>
          </c-nav-item>
        </c-nav>

        <!-- Search bar -->
        <div class="col-6">
          <c-input-group>
            <input
              aria-describedby=""
              aria-label="Search graphs"
              cFormControl
              placeholder="Search graphs ..."
              [(ngModel)]="searchQuery"
              (input)="performSearch()"
            />
            <button cButton id="w" color="light">Search</button>
          </c-input-group>
        </div>
      </c-card-body>
    </c-card>
  </c-card-group>
</ng-template>
