<c-card-group>
    <c-card class="mb-2">
        <c-card-body class="d-flex justify-content-between">
            <div class="col-6">
                <c-input-group>
                    <input
                        aria-describedby=""
                        aria-label="Search graphs"
                        cFormControl
                        placeholder="Disabled at the moment"
                    />
                    <button
                        cButton
                        id=""
                        type="button"
                        class="btn btn-outline-dark"
                    >
                        Search
                    </button>
                </c-input-group>
            </div>

            <c-nav class="justify-content-end">
                <c-nav-item>
                    <c-button-group>
                        <c-dropdown
                            placement="bottom-start"
                            variant="btn-group"
                        >
                            <button
                                class="btn btn-transparent"
                                cButton
                                cDropdownToggle
                                split
                            >
                                Customize charts
                            </button>
                        </c-dropdown>

                        <c-dropdown
                            placement="bottom-start"
                            variant="btn-group"
                        >
                            <button
                                class="btn btn-transparent"
                                cButton
                                cDropdownToggle
                                split
                            >
                                Charts
                            </button>
                            <ul
                                cDropdownMenu
                                (click)="addGraph($event)"
                            >
                                <li>
                                    <button
                                        [routerLink]="[]"
                                        cDropdownItem
                                    >
                                        Pie Chart
                                    </button>
                                </li>
                                <li>
                                    <button cDropdownItem>
                                        Donut Pie Chart
                                    </button>
                                </li>
                                <!-- Attacf different pie chart to different data points. -->
                            </ul>
                        </c-dropdown>
                    </c-button-group>
                </c-nav-item>
            </c-nav>
        </c-card-body>
    </c-card>
</c-card-group>

<div class="d-flex flex-row justify-content-evenly gap-0">
    <span *ngIf="itemList.length > 0; then someContent; else noContent"></span>

    <c-card
        class="col-3 h-100 sticky"
        [ngStyle]="{ top: stickyPosition }"
    >
        <c-card-body>
            <c-form-check [switch]="true">
                <input
                    title="option1"
                    cFormCheckInput
                    type="checkbox"
                    (click)="setValue('option1')"
                />
                <label cFormCheckLabel>Option 1</label>
            </c-form-check>

            <c-form-check [switch]="true">
                <input
                    title="option2"
                    cFormCheckInput
                    type="checkbox"
                    (click)="setValue('option2')"
                />
                <label cFormCheckLabel>Option 2</label>
            </c-form-check>

            <c-form-check [switch]="true">
                <input
                    title="option3"
                    cFormCheckInput
                    type="checkbox"
                    (click)="setValue('option3')"
                />
                <label cFormCheckLabel>Option 3</label>
            </c-form-check>

            <c-form-check [switch]="true">
                <input
                    title="option4"
                    cFormCheckInput
                    (click)="setValue('option4')"
                    type="checkbox"
                />
                <label cFormCheckLabel>Option 4</label>
            </c-form-check>
        </c-card-body>
    </c-card>
</div>

<ng-template #noContent>
    <c-card class="col-9">
        <c-card-body>
            <h1 cCardTitle>Dashboard Customization</h1>
            <p cCardText>
                Customize your dashboard by selecting content from the options
                above for a personalized view.
            </p>
        </c-card-body>
    </c-card>
</ng-template>

<ng-template #someContent>
    <c-card class="col-9">
        <c-card-body>
            <c-row [gutter]="4">
                <c-col
                    *ngFor="let graph of itemList"
                    class="md-6"
                    lg="6"
                >
                    <c-card>
                        <c-card-header
                            >{{ graph.layout.graphTitle }}
                        </c-card-header>
                        <c-card-body>
                            <plotly-plot
                                [data]="graph.data"
                                [layout]="graph.layout"
                                [useResizeHandler]="true"
                                [style]="{
                                    position: 'relative',
                                    width: '100%',
                                    height: '100%'
                                }"
                            ></plotly-plot>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </c-card-body>
    </c-card>
</ng-template>
