<c-row [gutter]="{ gx: 2, gy: 2 }">
  <c-col [md]="4">
    <c-card>
      <c-card-body>
        <plotly-plot
          [data]="printActivity"
          [layout]="printActivitylayout"
          [useResizeHandler]="true"
          [style]="{
            position: 'relative',
            width: '100%',
            height: '290px'
          }"
        ></plotly-plot>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col [md]="8" class="height:300px">
    <c-card>
      <c-card-body>
        <c-nav variant="pills">
          <c-nav-item>
            <a
              [active]="true"
              [cTabContent]="tabContent"
              [routerLink]
              [tabPaneIdx]="0"
              cNavLink
            >
              Chart
            </a>
          </c-nav-item>
          <c-nav-item>
            <a
              [cTabContent]="tabContent"
              [routerLink]
              [tabPaneIdx]="1"
              cNavLink
            >
              Table
            </a>
          </c-nav-item>
        </c-nav>
      </c-card-body>

      <c-tab-content #tabContent="cTabContent">
        <c-tab-pane class="p-3">
          <c-card-body>
            <plotly-plot
              [data]="printerData"
              [layout]="printerLayout"
              [useResizeHandler]="true"
              [style]="{
                position: 'relative',
                width: '100%',
                height: '200px'
              }"
            ></plotly-plot>
          </c-card-body>
        </c-tab-pane>

        <c-tab-pane class="p-3">
          <data-table></data-table>
        </c-tab-pane>
      </c-tab-content>
    </c-card>
  </c-col>

  <c-col [md]="4" class="height:300px">
    <c-card
      ><plotly-plot
        [data]="bubbleChartRef.data"
        [layout]="bubbleChartRef.layout"
        [useResizeHandler]="true"
        [style]="{
          position: 'relative',
          width: '100%',
          height: '100%'
        }"
      ></plotly-plot>
    </c-card>
  </c-col>

  <c-col [md]="4" class="height:300px">
    <c-card
      ><plotly-plot
        [data]="bubbleChartRef.data"
        [layout]="bubbleChartRef.layout"
        [useResizeHandler]="true"
        [style]="{
          position: 'relative',
          width: '100%',
          height: '100%'
        }"
      ></plotly-plot>
    </c-card>
  </c-col>

  <c-col [md]="4" class="height:300px">
    <c-card
      ><plotly-plot
        [data]="bubbleChartRef.data"
        [layout]="bubbleChartRef.layout"
        [useResizeHandler]="true"
        [style]="{
          position: 'relative',
          width: '100%',
          height: '100%'
        }"
      ></plotly-plot>
    </c-card>
  </c-col>
</c-row>
