    

<!-- <c-nav variant="tabs">
    <a *ngFor="let route of routes[0].children let i = index" [tabPaneIdx]="i" [routerLink] cNavLink
        [cTabContent]="tabContent">
        {{route.name}}
    </a>
</c-nav>

<c-tab-content #tabContent="cTabContent" (activeTabPaneIdxChange)="onTabChange($event)" )>
    <c-tab-pane class="p-3" *ngFor="let route of routes[0].children let i = index">


    </c-tab-pane>
</c-tab-content>



<ng-template #someContent>

</ng-template>
<ng-template #noContent>
    <h1>Nothing to display here !</h1>
</ng-template> -->