<c-card>
  <c-card-body>
    <h5 cCardTitle>Warnings / Alerts</h5>
    <c-row [gutter]="{ gx: 2, gy: 2 }" [xs]="1">
      <c-col [md]="4">
        <c-card>
          <c-card-body>
            <div>
              <c-callout color="danger">
                <a routerLink="/asset" cNavLink cCardLink> </a>
                <h6 cCardTitle>Asset Name</h6>
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">Warning</h6>
                <p cCardText>Maintenance Action:</p>
              </c-callout>
            </div>
          </c-card-body>
        </c-card>
      </c-col>

      <c-col [md]="4">
        <c-card>
          <c-card-body>
            <div>
              <c-callout color="danger">
                <a routerLink="/asset" cNavLink cCardLink> </a>
                <h6 cCardTitle>Asset Name</h6>
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">Warning</h6>
                <p cCardText>Maintenance Action:</p>
              </c-callout>
            </div>
          </c-card-body>
        </c-card>
      </c-col>

      <c-col [md]="4">
        <c-card>
          <c-card-body>
            <div>
              <c-callout color="danger">
                <a routerLink="/asset" cNavLink cCardLink> </a>
                <h6 cCardTitle>Asset Name</h6>
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">Warning</h6>
                <p cCardText>Maintenance Action:</p>
              </c-callout>
            </div>
          </c-card-body>
        </c-card>
      </c-col>

      <c-col [md]="4">
        <c-card>
          <c-card-body>
            <div>
              <c-callout color="danger">
                <a routerLink="/asset" cNavLink cCardLink> </a>
                <h6 cCardTitle>Asset Name</h6>
                <h6 cCardSubtitle class="mb-2 text-medium-emphasis">Warning</h6>
                <p cCardText>Maintenance Action:</p>
              </c-callout>
            </div>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
