<c-row [gutter]="4" class="mb-3" [md]="3" [xs]="1">
  <c-col>
    <c-card>
      <img title="REPLACE API" cCardImg="top" />
      <c-card-header>MA34D</c-card-header>
      <c-card-body class="bg-gradient">
        <h5 cCardTitle>Asset Name</h5>
        <h6 cCardSubtitle class="mb-2 text-medium-emphasis">Warning</h6>
        <p cCardText>Recommended Action:</p>
      </c-card-body>
      <c-card-footer>
        <small class="text-medium-emphasis">Last updated 3 mins ago</small>
      </c-card-footer>
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <img title="REPLACE API" cCardImg="top" />
      <c-card-header>MA46X</c-card-header>
      <c-card-body>
        <h5 cCardTitle>Asset Name</h5>
        <h6 cCardSubtitle class="mb-2 text-medium-emphasis">Warning</h6>
        <p cCardText>Maintenance Action:</p>
      </c-card-body>
      <c-card-footer>
        <small class="text-medium-emphasis">Last updated 3 mins ago</small>
      </c-card-footer>
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <img title="REPLACE API" cCardImg="top" />

      <c-card-header>
        <a routerLink="/asset" cNavLink cCardLink> ASSET NAME</a>
      </c-card-header>
      <c-card-body>
        <h5 cCardTitle>Asset Name</h5>
        <h6 cCardSubtitle class="mb-2 text-medium-emphasis">Warning</h6>
        <p cCardText>Maintenance Action:</p>
      </c-card-body>
      <c-card-footer>
        <small class="text-medium-emphasis">Last updated 3 mins ago</small>
      </c-card-footer>
    </c-card>
  </c-col>
</c-row>
