<c-row [gutter]="4" [xs]="1">
  <c-col>
    <c-card>
      <c-card-header>
        <a routerLink="/asset" cNavLink cCardLink> ASSET NAME</a>
      </c-card-header>
      <c-card-body>
        <h5 cCardTitle>Asset Name</h5>
        <h6 cCardSubtitle class="mb-2 text-medium-emphasis">Warning</h6>
        <p cCardText>Maintenance Action:</p>
      </c-card-body>
      <c-card-footer>
        <small class="text-medium-emphasis">Last updated 3 mins ago</small>
      </c-card-footer>
    </c-card>
    
  </c-col>
</c-row>
