<div class="table table-fixed-height">
  <caption>
    Monthly savings
  </caption>

  <table class="table">
    <thead>
      <tr class="stay">
        <th scope="col">Model Type</th>
        <th scope="col">Wear</th>
        <th scope="col">Target</th>
        <th scope="col">Process Temperature</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of realTimeData">
        <td>{{ d["Product ID"] }}</td>
        <td>
          {{ d["Tool wear [min]"] }}
        </td>
        <td>
          {{ d["Target"] }}
        </td>
        <td>
          {{ d["Process temperature [K]"] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
