<div class="table table-fixed-height">
  <table class="table">
    <thead>
      <tr class="stay">
        <th scope="col">Model</th>
        <th scope="col">Wear</th>
        <th scope="col">Target</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>@twitter</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>@twitter</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>@twitter</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>@twitter</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>@twitter</td>
        <td>Thornton</td>
      </tr>
    </tbody>
  </table>
</div>
