<div class="table-responsive">
  <table class="table w-100 overflow-">
    <tr>
      <th
        *ngFor="let d of data; let i = index"
        scope="col"
        [style.display]="i >= tableData.length ? 'none' : 'table-cell'"
      >
        <span *ngIf="headerObjects[i]">
          {{ d }}
        </span>
      </th>

      <!-- <th *ngFor="let key of Object.keys(headerObject)">
      
      </th> -->
    </tr>

    <tr>
      <ng-container>
        <!-- Table data should never exceed table headers -->
        <td *ngFor="let d of tableData; let i = index">
          {{ d }}
        </td>
      </ng-container>
    </tr>

    <!-- <tr>
        <ng-container *ngFor="let d of tableData; let i = index">
          <td
            scope="col"
            [style.display]="
              i >= tableData.length || !d ? 'none' : 'table-cell'
            "
          >
            <span *ngIf="headerObjects[i]">
              {{ d }}
            </span>
          </td>
        </ng-container>
      </tr> -->
  </table>
  <br />
  <!--  -->
</div>
